.body {
  overflow-y: hidden;
}

.navPrin a {
  font-size: 1.2em;
  text-decoration: none;
}

.parteArriba div img {
  height: 50px;
}

.enlPrin {
  padding: 4px;
  width: 150px;
  text-align: end;
  outline: 2px solid transparent;
  transition: background-color 0.5s ease, outline-color 0.5s ease;
}

.enlPrin:hover {
  outline-color: #98b705;
  background-color: rgba(153, 183, 5, 0.44);
}

.imgPerfil {
  background-image: url("../../media/BORRAR.jpg");
  border-radius: 20px;
  width: 280px;
  height: 280px;
  background-size: cover;
  background-position: center;
  margin-left: 50px;
}

.btnEditFotoPerfil {
  width: min-content;
  height: min-content;
  border: none;
  background-color: transparent;
}

.btnEditFotoPerfil img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.gray-text {
  color: #a1a1a1;
  font-weight: 600;
}

.btnEditNombreUsuario {
  width: min-content;
  height: min-content;
  border: none;
  background-color: transparent;
}

.btnEditNombreUsuario img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
